.card img {
    height: 100px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.16);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card p {
    opacity: 0.7;
}